.reveal code {
  box-shadow: none;
}

.reveal section code {
  box-shadow: none;
}

.reveal .slides {
  box-shadow: none;
}

.noborder .reveal section img {
  background:none;
  border:none;
  box-shadow:none;
}
